.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #706c6c;
    font-weight: lighter;
    margin-left: 18px;
}

.dropdown:hover {
    color: rgba(0, 0, 0,1);
    cursor: pointer;
}

.dropdown-icon  {
    display: grid;
    justify-items: baseline;
    align-items: center;
    /* font-size: medium; */
    /* flex: 1 1 auto; */
    margin: 0 5px;
}

.dropdown-title {
    /* font-size: 18px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:13px;
    font-weight: 100;
    margin: 0 -10px;
}