
.app {
    background-color: #F3F2EF;
    
    height: 1024px;
}

.app-body {
    display: flex;
    /* align-items: center; */
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 24px;
}